
:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #0D6973;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  }
  
  
  html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%; 
  }
  body {
    min-height: 100%;
    background-color: var(--gris1);
    font-size: 16px; 
    font-size: 1.6rem;
    font-family: var(--textFont);
  }
  
  
  h1 {
    font-family: var(--headingFont);
    font-weight: 900;
    margin: 0 0 4rem 0;
    text-align: center;
    color: var(--gris2);
  }
  
  h1 {
    font-size: 3rem;
  
    text-decoration: none;
    color: var(--gris2);
  }
  
  /** BOTONES **/
  .btn {
    margin-top: 2rem;
    font-family: var(--headingFont);
    padding: 1.5rem;
    font-size: 1.4;
    font-weight: 400;
    border-radius: .5rem;
    border: none;
    transition: background-color .3s ease;
  }
  
  .btn-primario {
    background-color: var(--gris2);
    color: var(--blanco);
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  
  
  
  @media (min-width: 768px) {
    .contenedor-app {
        display: flex;
        min-height: 100vh;
    }
  
    aside {
        background-color: var(--blanco);
        flex: 0 0 100px;
    }
    .seccion-principal {
        flex: 1;
    }
  
  }
  
  .formulario form {
    max-width: 600px;
    margin: 0 auto;
  }
  .contenedor-input {
    display: flex;
  }
  .input-text {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    flex: 1;
    width: 100%;
  }
  
  .form-usuario {
      background-color: var(--gris2);
      height: 100%;
      min-height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .contenedor-form {
      padding: 5rem 3rem;
      max-width: 500px;
      width: 95%;
      background-color: var(--blanco);
      border-radius: 1rem;
  }
  
  .campo-form {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
  }
  .campo-form:last-of-type {
    margin: 0;
  }
  .campo-form label {
    flex: 0 0 100px;
    font-family: var(--textFont);
  }
  .campo-form input[type="contrasena"],
  .campo-form input[type="email"], 
  .campo-form input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
  }
  
  .enlace-cuenta {
    margin-top: 2rem;
    display: block;
    opacity: .7;
  }