.Navbar-container{
    top: 0;
    right: 10px;
    height: 80px;
    background-color: #0D6973;
}

.Navbar-container-buttons{
    display: flex;
    flex-direction: row;
    float: right;
}
.Navbar-container img{
    width: 80px;
    height: 80px;
    margin: 2px;
    margin-left: 40px;
}

.Menu-Button{
font-size: 30px;
height: 50px;
width: auto;
padding: 2px;
margin: 10px 20px 20px 10px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius: 10px;
text-decoration: none;
color: white;
}

.Menu-Button:hover{
    background-color: #37A6A6;
}
/* Color Theme Swatches in Hex */
.Surf-1-hex { color: #2C3F59; }
.Surf-2-hex { color: #0D6973; }
.Surf-3-hex { color: #37A6A6; }
.Surf-4-hex { color: #4EBFB4; }
.Surf-5-hex { color: #D5F2ED; }

/* Color Theme Swatches in RGBA */
.Surf-1-rgba { color: rgba(44, 63, 89, 1); }
.Surf-2-rgba { color: rgba(13, 105, 115, 1); }
.Surf-3-rgba { color: rgba(55, 166, 166, 1); }
.Surf-4-rgba { color: rgba(78, 191, 180, 1); }
.Surf-5-rgba { color: rgba(213, 242, 237, 1); }
