*{
  padding: 0;
  margin: 0;
  font-family: 'TituloFont';
  font-weight: 100;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing:content-box;
}
@font-face {
  font-family: "TituloFont";
  src: url("/src/assets/Font/cream-DEMO.otf");
}

.App {
  display: flex;
min-height: calc(100vh - 205px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



