*{
  padding: 0;
  margin: 0;
  font-family: 'TituloFont';
  font-weight: 100;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing:content-box;
}
@font-face {
  font-family: "TituloFont";
  src: url("/src/assets/Font/cream-DEMO.otf");
}
@font-face {
  font-family: "Paw";
  src: url("/src/assets/Font/Animal\ Paw.ttf");
}

.NormalPage{
  width: 100%;
  text-align: center;
}
.li-short{
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
  margin-left: 40%;
  list-style-type: none;
}
table{
  width: 100%;
}
tbody,thead{
  margin: 20px;
}

.Logo-Letra{
font-family: Paw;
font-size: 200px;
position: absolute;
top: 50%;
left: 33%;
}


.bnt-views{
  background-color: #37A6A6;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  border: solid #37A6A6 2px;
  cursor: pointer;
  margin-top: 10px;
  font-size:18px;
}
.bnt-views:hover{
  background-color: #4EBFB4;
  border: solid black 2px;
}

tr{
  margin: 50px;
}
.Contenedor-comboBox{
  margin: 20px;
}
.Contenedor-comboBox select,input{
  border-radius: 20px;
  height: 20px;
  width: 150px;
  margin-top: 10px;
}
.Contenedor-comboBox input{
  width: 200px;
  padding: 1px;
}

.App {
min-height: calc(100vh - 245px);
padding: 20px;
width: auto;
margin-left: 20px;
margin-right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Checkbox-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


